:root {
  --header-color: #e2e2e2;
  --black-color: #29292e;
  --pinkPurple-color: #e559f9;
  --white-color: #fff;
  --textarea-color: #fefefe;
  --purple-color: #835afd;
  --grey-color: #737388;

  --poppins-font: "Poppins", sans-serif;
  --robotto-font: "Roboto", sans-serif;
}

#page-room {
  header {
    padding: 1.5rem;
    border-bottom: 0.0625rem solid var(--header-color);

    .content {
      max-width: 70.5rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 2.8125rem;
      }
    }
  }
  main {
    max-width: 50rem;
    margin: 0 auto;

    .room-title {
      margin: 2rem 0 1.5rem;
      display: flex;
      align-items: center;

      h1 {
        font-family: var(--poppins-font);
        font-size: 1.5rem;
        color: var(--black-color);
      }

      span {
        margin-left: 1rem;
        background: var(--pinkPurple-color);
        border-radius: 624.9375rem;
        padding: 0.5rem 1rem;
        color: var(--white-color);
        font-weight: 500;
        font-size: 0.875rem;
      }
    }
    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 1rem;
        border-radius: 0.5rem;
        background: var(--textarea-color);
        box-shadow: 0 0.125rem 0.75rem rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-height: 8.125rem;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
          }

          span {
            margin-left: 0.5rem;
            color: var(--black-color);
            font-weight: 500;
            font-size: 0.875rem;
          }
        }

        > span {
          font-size: 0.875rem;
          color: var(--grey-color);
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: var(--purple-color);
            text-decoration: underline;
            font-size: 0.875rem;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }
  }
}
